@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Playwrite+CU:wght@100..400&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playwrite+CU:wght@100..400&family=Satisfy&display=swap');



body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: azure;
}
span{
  display: inline-block;
}
header {
  position: sticky;
  top: 0px;
  z-index: 10000;
  background: linear-gradient(to right, rgb(252, 247, 186), rgb(255, 255, 255));
}

/* navbar styling */

.nav {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 29px;



}

.h3 {
  position: absolute;
  left: 8rem;
  font-size: 1.7rem;
  font-family: "Satisfy", cursive;
  background: linear-gradient(to right, #fa6b18, #f7913e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 7px;
}

.nav img {
  border-radius: 1rem;
  width: 5rem;
  margin: 12px;

}

.navBar li a {
  text-decoration: none;
  color: #014704;
  position: relative;
}


.navBar li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #006b05;
  border-radius: 12px;
  transition: all 0.4s ease;
}

.navBar li a:hover:before {
  width: 100%;
}

/* Hamburger navbar styling */

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #014704;
}

/* Intro styling */

div.img_bg {

  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  background-image: url(https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  opacity: 0.9;

}

.content {
  font-family: "Calligraffitti", cursive;
  font-weight: 700;
  font-size: 1.5rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #014704;
  animation: fadeInScale 3s ease-in-out forwards; 
  animation-delay:  2s;
  opacity: 0;

}


@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* separation */

.line{
  height: 4px;
  width: 100%;
  background-color: #699270;
}

/* About Us section */

#aboutUs {
  margin: 1rem 8rem;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Changa", sans-serif;
  color: #0e7013;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-family: "DM sans", sans-serif;
  font-weight: 500;

}

.container>:first-child {
  font-size: 2rem;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 32px 22px;
}

.info div {
  flex: 1;
}

.info img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.info h3 {
  margin-top: 0;
  font-size: 2rem;
}

.info p {
  font-size: 1.2rem;
}

#rev{
  display: flex;
  flex-direction: row-reverse;
}

.searchBar * {
  box-sizing: border-box;
  margin: auto; 
 }
 
 .searchBar .search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
 }
 
 .searchBar .input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #014704;
  padding-right: 40px;
  color:
 #014704;
 }
 .searchBar .input-search::placeholder{
  color:
  #014704 ;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
 }
 .searchBar .btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:
 #014704 ;
  background-color:
 transparent;
  pointer-events: painted;  
 }
 .searchBar .btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: 
 transparent;
  border-bottom:1px solid 
  #014704 ;;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
 }
 .searchBar .input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: 
 transparent;
  border-bottom:1px solid 
 rgba(1, 78, 65, 0.74);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
 }

/* Responsiveness */

@media only screen and (max-width:1120px) {
  .content {
    font-size: 1rem;
  }

  .navBar {
    font-size: 1.2rem;
  }

  .heading {
    font-size: 1.7rem;
  }

  .container>:first-child {
    font-size: 1.5rem;
  }

  .info h3 {
    margin-top: 0;
    font-size: 1.3rem;
  }

  .info p {
    font-size: 0.8rem;
  }

}

@media only screen and (max-width:590px) {
  .content {
    font-size: 0.7rem;
  }

  .container>:first-child {
    font-size: 1.3rem;
  }

  div.img_bg {
    height: 60vh;
  }
}

@media only screen and (max-width:900px) {

  .hamburger {
    display: block;

  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav {
    padding-left: 5px;
  }

  .h3 {
    left: 6.5rem;
    /* font-size: 1.2rem; */
  }

  .navBar {
    position: fixed;
    z-index: 10000;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(248, 244, 226), rgb(245, 206, 147));
    text-align: center;
    transition: 0.4s;
  }

  .navBar.active {
    left: 0;
    width: 100%;
    margin: 20px 0px;
    gap: 22px;
  }


  #aboutUs {
    margin: 2rem;
  }

  .heading {
    font-size: 1.5rem;
  }

  .container>:first-child {
    font-size: 1rem;
  }

}

@media only screen and (max-width:700px) {
  .info,#rev {
    flex-direction: column;
  }

  .info span {
    width: 100%;
    text-align: center;
  }
}